<?php
    $row = function($id, $name, $isSelected) {
        if ($isSelected) {
            $class = "";
            $btn = "<span>Current</span>";
        } else {
            $class = " class=\"column-button nolink\"";
            $btn = "<a href=\"#\" class=\"btn btn-primary btn-sm\" data-request=\"onMultisiteChangeSite\" data-request-data=\"id: '{$id}'\">Select</a>";
        }

        return "<tr>
                <td>{$name}</td>
                <td{$class}>
                    {$btn}
                </td>
            </tr>";
    }
?>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Change Site</h4>
        </div>
        <div class="modal-body">
            <div class="control-list">
                <table class="table data" data-control="rowlink">
                    <thead>
                    <tr>
                        <th><span>Name</span></th>
                        <th style="width: 150px"><span>Action</span></th>
                    </tr>
                    </thead>
                    <tbody>
                        <?=$row('main', 'Main', $isMain)?>
                    <?php $sites->each(static function($site) use($row) {?>
                        <?=$row($site->getKey(), $site->name, $site->getKey() === siteId())?>
                    <?php });?>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>
